version: '3.8'

services:
    postgres:
        image: postgres:15-bookworm
        container_name: postgres_db
        restart: always
        environment:
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
            POSTGRES_DB: tmdb
        ports:
            - "5432:5432"
        volumes:
            - postgres_data:/var/lib/postgresql/data
        networks:
            - laravel-network

networks:
    laravel-network:
        driver: bridge
        name: laravel-network

volumes:
    postgres_data:
        driver: local
