version: '3.8'

services:
  app:
    image: tmdb-app:test
    env_file:
      - .env.docker
    networks:
      - laravel-network
    depends_on:
      - postgres

  nginx:
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    ports:
      - "8000:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel-network

  postgres:
    image: postgres:15-bookworm
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tmdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - laravel-network

networks:
  laravel-network:
    driver: bridge
    name: laravel-network

volumes:
  postgres_data:
    driver: local
